<!DOCTYPE html>
<html>
<head>
  <title>Markovify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
 <h1>Markovify</h1>
</header>

<p>
 <a href="/upload">Input text or file</a>      |      <a href='/references'>View references</a>      |      <a href='/generate'>Generate random text</a>
</p>
<%= yield %>

</body>
</html>
